%header.absolute.inset-x-0.top-0.z-50
  %nav.flex.items-center.justify-between.p-6.lg:px-8
    .flex.lg-flex-1
      = link_to "/", class: "-m-1.5 p-1.5" do
        %span.sr-only ZIP Uploader
        %img.h-8.w-auto{src: "https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"}

    .flex.flex-1.justify-end.gap-x-12
      = link_to "Sign In", new_session_path, class: "text-sm font-semibold leading-6 text-gray-900"
      = link_to "Register", new_registration_path, class: "text-sm font-semibold leading-6 text-gray-900"
