.relative.isolate.px-6.pt-14.lg:px-8
  .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
    .text-center
      .text-balance.text-5xl.font-semibold.tracking-tight.text-gray-900{class: "sm:text-7xl"}
        The next generation of file uploaders is here
      .mt-8.text-pretty.text-lg.font-medium.text-gray-500{class: "sm:text-xl/8"}
        You can upload ZIP files, and you can download ZIP files, and you can upload ZIP files
